{% load static %}
<thead>
    <tr>
        <th scope="col" class="id-cell">Bookmark ID</th>
        <th scope="col">Recipe Title</th>
        <th scope="col">Recipe Description</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    {% for bookmark in bookmarks %}
    <tr>
        <th scope="row" class="id-cell">{{ bookmark.id }}</th>
        <td class="name-cell text-decoration-none"> <a href="{% url 'recipe' bookmark.recipe.id %}">{{bookmark.recipe.title }}</a> </td>
        <td class="description-cell">{{ bookmark.recipe.description }}</td>
        <td style=" text-align: right;">
            <img class="delete-bookmark" data-bookmark-id="{{ bookmark.id }}" src="{% static '/icon/heart-fill.svg' %}"alt="Icon">
        </td>
    </tr>
    {% endfor %}
</tbody>