<thead>
    <tr>
        <!-- <th scope="col" class="id-cell">Comment ID</th> -->
        <th scope="col">Recipe Title</th>
        <th scope="col">Comment Text</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    {% for comment in comments %}
    <tr>
        <!-- <th scope="row" class="id-cell">{{ comment.id }}</th> -->
        <td class="name-cell"><a href="{% url 'recipe' comment.recipe.id %}">{{ comment.recipe.title }}</a></td>
        <td class="description-cell">{{ comment.comment_text }}</td>
        <td style=" text-align: right;">
            <a href="" class="btn btn-outline-info me-3">Edit</a>
            <button class="btn btn-outline-danger delete-comment" data-comment-id="{{ comment.id }}">Delete</button>
        </td>
    </tr>
    {% endfor %}
</tbody>