<thead>
    <tr>
        <th scope="col" class="id-cell">Recipe ID</th>
        <th scope="col">Recipe Name</th>
        <th scope="col">Recipe Description</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    {% for recipe in recipes %}
    <tr>
        <th scope="row" class="id-cell">{{ recipe.id }}</th>
        <td class="name-cell"><a href="{% url 'recipe' recipe.id %}">{{ recipe.title }}</a></td>
        <td class="description-cell">{{ recipe.description }}</td>
        <td style=" text-align: right;">
            <a href="" class="btn btn-outline-info me-3">Edit</a>
            <button class="btn btn-outline-danger delete-recipe" data-recipe-id="{{ recipe.id }}">Delete</button>
        </td>
    </tr>
    {% endfor %}
</tbody>
