{% extends 'main.html' %}
{% load static %}
{% block navbar %}
<!-- Empty block, it overrides the navbar and removes it from the page -->
{% endblock %}

{% block content %}
<div class="my-4">
    <a class="text-decoration-none" href="{% url 'profile' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go
        back to profile</a>
    <h2 class="text-center">Add Recipe</h2>
</div>

{% include './components/recipe/add-edit-recipe.html' %}
<!-- instructions js -->
<script src="{% static 'js/recipe_instructions.js' %}"></script>
<!-- ingredients js -->
<script src="{% static 'js/recipe_ingredients.js' %}"></script>
{% endblock %}