{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}
{% block navbar %}
<!-- Empty block, it overrides the navbar and removes it from the page -->
{% endblock %}

{% block content %}
<style>
    .btn-circle {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }

    .btn-circle i {
        position: relative;
        top: -1px;
    }

    .btn-circle-add {
        width: fit-content;
        height: 30px;
        line-height: 30px;
        font-size: 0.9rem;
        border-radius: 1rem;
    }

    .btn-circle-sm {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 0.9rem;
    }
</style>
<h2>Edit Recipe</h2>
<form method="post">
    {% csrf_token %}
    <!-- {{ recipe.as_p }} -->
    <table>
        {{ recipe_form.creator }}
    </table>
    <!-- Recipe title -->
    <div class="row my-2">
        <div class="my-3 col-md-6 columns">
            <h4>{{ recipe_form.title.label_tag }}</h4>
            <input type="text" class="form-control" id="title" name="{{ recipe_form.title.name }}"
                value="{{ recipe_form.title.value }}">
        </div>
        <!-- Recipe category -->
        <div class="my-3 col-md-6 ">
            <h4>Category:</h4>
            <div class="d-flex">
                {{ recipe_form.category }}
            </div>
        </div>
    </div>
    <div class="mb-4">
        <h4>{{ recipe_form.description.label_tag }}</h4>
        <textarea name="{{ recipe_form.description.name }}" class="form-control" id="description" cols="0"
            rows="03">{{ recipe_form.description.value }}</textarea>
    </div>

    <!-- Ingredients start -->
    <div class="row my-2">
        <div class="d-flex justify-content-between">
            <h4>Ingredients</h4>
            <button type="button" class="btn btn-info btn-circle btn-circle-add m-1 add-ingredient px-2">Add
                Ingredient<i class="bi bi-plus-lg add-ingredient ps-1"></i></button>
        </div>
        <div id="ingredients" class="my-3 col-md-12 row">
            {% for ingredient_name, ingredient_amount in existing_ingredients.items %}
            {% with ingredient_parts=ingredient_amount|split_amount %}
            <div class="ingredient row mb-4" data-ingredient-id="{{ forloop.counter0 }}">

                <div class="col-md-1">
                    <label for="id_ingredients-{{ forloop.counter0 }}-amount" class="form-label">Amount:</label>
                    <input type="text" name="amounts" id="id_ingredients-{{ forloop.counter0 }}-amount"
                        class="form-control" value="{{ ingredient_parts.0 }}">
                </div>

                <div class="col-md-1">
                    <label for="id_ingredients-{{ forloop.counter0 }}-unit" class="form-label">Unit:</label>
                    <select class="form-select" id="id_ingredients-{{ forloop.counter0 }}-unit" name="amountUnits">
                        <option value="gr" {% if ingredient_parts.1 == 'gr' %}selected{% endif %}>gr</option>
                        <option value="kg" {% if ingredient_parts.1 == ' kg' %}selected{% endif %}>kg</option>
                        <option value="spoon" {% if ingredient_parts.1 == 'spoon' %}selected{% endif %}>Spoon</option>
                    </select>
                </div>

                <div class="col-md-9">
                    <label for="id_ingredients-{{ forloop.counter0 }}-name" class="form-label">Ingredient:</label>
                    <input type="text" name="ingredients" id="id_ingredients-{{ forloop.counter0 }}-name"
                        class="form-control" value="{{ ingredient_name }}">
                </div>

                <button type="button"
                    class="btn btn-warning btn-circle btn-circle-sm m-1 remove-ingredient col-md-1 align-self-end"
                    onclick="removeIngredientField(this)">
                    <i class="bi bi-dash remove-ingredient"></i>
                </button>
            </div>

            {% endwith %}
            {% endfor %}
        </div>
    </div>
    <!-- Ingredients end -->

    <!-- Instuctions start -->
    <div class="my-2">
        <div class="d-flex justify-content-between">
            <h4>Steps</h4>
            <button type="button" class="btn btn-info btn-circle btn-circle-add m-1 px-2 add-step">Add step<i
                    class="bi bi-plus-lg add-step ps-1"></i></button>
        </div>
        <div id="steps" class="row">
            {% for step in existing_steps %}
            <div class="step col-md-12 my-2" data-step-id="{{ forloop.counter }}">
                <div class="row">
                    <div class="col-auto align-self-center pe-0">
                        <label for="id_instructions_{{ forloop.counter }}">Step {{ forloop.counter }}:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="instructions" id="id_instructions_{{ forloop.counter }}"
                            class="form-control" value="{{ step }}">
                    </div>
                    <div class="col-auto ps-0">
                        <button type="button"
                            class="btn btn-warning btn-circle btn-circle-sm m-1 remove-step align-self-center"
                            onclick="removeStepField(this)">
                            <i class="bi bi-dash remove-step"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Instuctions end -->

    <div class="my-2 row col-md-12">
        <div id="time" class="my-3 col-md-6">
            <h4>Preparation & Cooking time</h4>
            <div class="d-flex">
                <div class="me-5">{{ recipe_form.preparation_time.label_tag }} {{ recipe_form.preparation_time }}
                    <span>min</span>
                </div>
                <div> {{ recipe_form.cooking_time.label_tag }} {{ recipe_form.cooking_time }} <span>min</span></div>
            </div>
        </div>

        <div class="my-3 col-md-6">
            <h4>Upload Recipe Image</h4>
            <input class="form-control" type="file" name="{{ recipe.images.name }}" id="formFile">
        </div>
    </div>
    {% if messages %}
    <div class="alert alert-danger">
        <strong>Error(s):</strong>
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!--     
    {{ recipe.videos.label_tag }} {{ recipe.videos }}
    {{ recipe.nutrition_facts.label_tag }} {{ recipe.nutrition_facts }} -->

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<!-- instructions js -->
<script src="{% static 'js/recipe_instructions.js' %}"></script>
<!-- ingredients js -->
<script src="{% static 'js/recipe_ingredients.js' %}"></script>

{% endblock %}